NODE_VERSION: xxxx
MONGODB_URI: xxxx # docker-compose 'mongodb://mongodb-app:27017'
PORT: xxxx
EMAIL_PASS: xxxx
EMAIL_USER: xxxx
APP_HOSTNAME:xxxx
ACCESS_TOKEN_JWT_SECRET: xxxx
REFRESH_TOKEN_JWT_SECRET: xxxx
ACCESS_TOKEN_JWT_EXPIRATION: xxxx
ACCESS_TOKEN_JWT_REFRESH_EXPIRATION: xxxx
GOOGLE_CLIENT_ID: xxxx
GOOGLE_CLIENT_SECRET: xxxx
NODE_ENV = PROD
