<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Email</title>
  </head>
  <style>
    *,
    body,
    html,
    h1,
    p {
      margin: 0;
      padding:0
    }
  </style>
  <body style="background-color: #008b8b12; padding: 1em">
    <div
      style="
        background-color: white;
        margin: auto;
        max-width: 900px;
        font-family:
          sans-serif 'Open Sans',
          'Helvetica Neue';
      "
    >
      <p
        style="
          border-bottom: 0.1px solid #008b8b2b;
          padding: 30px 0px 10px 40px;
          color: #008b8b;
          font-size: 30px;
          font-weight: bolder;
        "
      >
        Email Verification
      </p>
      <div style="font-size: 20px; padding: 0px 40px">
        <p style="text-align: left; font-size: 25px; font-weight: 500">Hi <%= username %>,</p>

        <p style="padding-top: 0.5em; font-weight: 700; color: #008b8b">
          Thank you for signing up on Kanban!
        </p>
        <p style="padding-top: 0.5em">
          Click on the button below to verify your email address and start using your account.
        </p>
        <p>Link expires in 30 minutes</p>
        <div style="text-align: center; color: white !important; margin-top: 10px">
          <a
            style="
              width: 200px;
              margin: auto;
              display: block;
              text-decoration: none;
              padding: 0.8em 2em;
              border-radius: 6px;
              font-weight: bolder;
              background-color: #008b8b;
              color: white !important;
            "
            href="<%= verificationUrl %>"
          >
            Verify Email</a
          >
        </div>
      </div>

      <p style="padding: 30px 40px; font-size: 16px; color: black">
        If you did not take this action, please
        <a style="text-decoration: none; color: #008b8b" href="/">contact us</a>
      </p>
    </div>
  </body>
</html>
